@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-shine {
    background: linear-gradient(to right,
        #6366f1 20%,
        #ec4899 40%,
        #ec4899 60%,
        #6366f1 80%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

/* Glassmorphism Classes */
.glass-panel {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl;
}

.glass-item {
  @apply bg-white/10 backdrop-blur-md border border-white/5 rounded-xl;
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}